<article>
<h3>About the individual to the left</h3>
<p>Richard is an energetic and dedicated student in his second year of Software Engineering at the University of Waterloo. At every opportunity, he strives to expand his horizons, escape his comfort zone, and continue to exercise his creativity as a software developer.</p>
<p>Currently, Richard seeks a four-month co-op or internship position for the winter of 2015, particularly for the opportunity to contribute to the development of new and upcoming software.</p>
<p>Feel free to have a look at his projects on GitHub or connect on LinkedIn!</p>
</article>