<!DOCTYPE html>
<html>
<head>
<title>Meet RichardKK!</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<span id="background_left"></span>
	<span id="background_right"></span>
	<header>
		<a class="home_link" href="#"><span class="home_link"></span></a>
		<div class="logo">
			<img id="logo" src="dove.jpg"/>
		</div>
		<section class="social">
			<a href="https://www.github.com/rwongone" title="Visit my GitHub!"><img id="github" src="github.png" /></a>
			<a href="https://www.twitter.com/rk2wong" title="Follow me on Twitter!"><img src="twitter.png" /></a>
			<a href="https://www.linkedin.com/in/richardkakitwong" title="Connect with me on LinkedIn!"><img src="linkedin.png" /></a>
		</section>
		<h2>Welcome, my friend!</h2>
	</header>
	<nav>
		<ul>
			<li><a href="/projects" title="What have I been working on?">PROJECTS</a></li> 
			<li><a href="/music" title="Broaden your musical horizons!">MUSIC</a></li> 
			<li><a href="/reading" title="See some reading recommendations!">READING</a></li>
			<span class="stretch"></span>
		</ul>
	</nav>
	<span id="blockA"></span>
	<section class="page_content">
		<%= yield %>
	</section>

	<footer>
		<p>&copy; Nobody 2014</p>
	</footer>
	<span id="blockB"></span>
</body>
</html>