<!DOCTYPE html>
<html>
<head>
<title>Meet RichardKK!</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="logo">

		</div>
		<h2>Welcome home, boys!</h2>
	</header>
	<nav>
	<ul>
	<li>Item asdfasdfasdfasdf</li> 
	<li>Item asdfasdfasdfasdf</li> 
	<li>Item asdfasdfasdfasdf</li> 
	<li>Item asdfasdfasdfasdf</li> 
	<li>Item asdfasdfasdfasdf</li>
	<span class="stretch"></span>
	</ul>

	</nav>
	<div class="page_content">
		<%= yield %>
	</div>

	<footer>
		<p>Copyright Nobody 2014</p>
	</footer>
</body>
</html>