<!DOCTYPE html>
<html>
<head>
<title>Richard Wong</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="icon" type="image/jpg" href="/img/dove.jpg">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="/scripts/script.js"></script>
<script src="/scripts/google_analytics.js"></script>
</head>
<body>
	<span id="background_left"></span>
	<span id="background_right"></span>
	<header>
		<section class="social">
			<a href="https://www.github.com/rwongone" title="Visit my GitHub!"><img id="github" src="/img/github.png" /></a>
			<a href="https://www.twitter.com/rk2wong" title="Follow me on Twitter!"><img src="/img/twitter.png" /></a>
			<a href="https://www.linkedin.com/in/richardkakitwong" title="Connect with me on LinkedIn!"><img src="/img/linkedin.png" /></a>
		</section>
		<h2>Richard KK Wong</h2>
	</header>
	<nav>
		<ul>
			<li><a href="/" title="Take me home!">HOME</a></li> 
			<li><a href="/projects" title="What have I been working on?">PROJECTS</a></li>
			<li><a href="/pdf/resume.pdf" title="Who am I?">RESUME</a></li>
			<span class="stretch"></span>
		</ul>
	</nav>
	<span id="top_shift"></span>
	<span id="blockA"><img id="me" src="/img/me.jpg" /></span>
	<section id="page_content">
		<%= yield %>
	</section>

	<footer>
		<p>&copy; Nobody 2014</p>
	</footer>
	<span id="blockB"></span>
</body>
</html>