<!DOCTYPE html>
<html>
<head>
<title>Meet RichardKK!</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<span id="background"></span>
	<header>
		<div class="logo">
			<img id="logo" src="dove.jpg"/>
		</div>
		<div class="social">
		<img src="github.png" />
		<img src="twitter.png" />
		<img src="linkedin.png" />
		
		</div>
		<h2>Welcome home, boys!</h2>
	</header>
	<nav>
	<ul>
	<li><a href="/blog">BLOG</a></li> 
	<li><a href="/projects">PROJECTS</a></li> 
	<li><a href="/music">MUSIC</a></li> 
	<li><a href="/reading">READING</a></li>
	<span class="stretch"></span>
	</ul>

	</nav>
	<div class="fill"></div>
	<div class="page_content lift">
		<%= yield %>
	</div>

	<footer>
		<p>&copy; Nobody 2014</p>
	</footer>
</body>
</html>