<article>
<h3><a href="/projects/sentinence">Sentinence</a></h3>
<p>The initial premise of this project was to gain insight on potential methods for word prediction. However, Richard had decided he wanted to inject some hilarity into the final product.</p>
<p>Now, using a discrete-time Markov chain to model word pair frequencies in Charles Dickens' <i>A Tale of Two Cities</i>, Sentinence spits out nonsensical English strings for your enjoyment!</p>
</article>