<article>
<h3><%=@query%></h3>
<ol>
<% @results.each do |result| %>
	<li><%=result%></li>
<% end %>
</ol>
</article>

<article>
<form action="/wiki_phil" method="post">
<input type="text" name="query">
<input type="submit" name="How philosophical is this article even">
</form>
</article>